.w-50{
  width: 50%;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.bg-sugar{
 background-color:rgb(237, 240, 243);
  color: rgba(88, 100, 124, 1);
}
.btn-handle{
  background: linear-gradient(266.42deg, #1578D4 0%, #4A9CE9 100%);
  border-color: transparent;
  ;

}
