<!--   
  <footer>
    <div class="footerContainer1 row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top p-3">

      <div class="col mb-3" style="
        display: flex;
flex-direction: column;
align-items: flex-start;
gap: 50px;
        ">

        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="/assets/image/logo/logoCirc.png" alt="">
          <p class="text-muted">City Mosque Preston</p>
        </a>

      </div>

      <div class="col mb-3">

      </div>

      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
    </div>
    <div class="footerContainer2 row  d-flex flex-column flex-sm-row justify-content-center    ">
      <p>&copy; 2022 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter" />
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram" />
            </svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook" />
            </svg></a></li>
      </ul>
    </div>
  </footer> -->

<!-- Remove the container if you want to extend the Footer to full width. -->

<footer *ngIf="isLoading" class="footerContainer1" style="border-radius: 50px 50px 0px 0px;">
  <!-- Grid container -->
  <div class="container p-2">
    <!--Grid row-->
    <div class="row my-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 col-sm-12 mb-4 mb-md-0 text-center">
        <div
          class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
          style="width: 100px; height: 100px;">
          <img style="width: 100px; height: 100px; flex-shrink: 0; border-radius: 88px;"
            src="/assets/image/logo/logoCirc.png" alt="">
        </div>
        <div
          style="color: var(--white, #F1F8FF); font-family: Poppins; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal; text-align: center;">
          City Mosque Preston
        </div>
        <div class="py-2"
          style="color: var(--nature-nature-2, #879DB2); font-family: Poppins; font-size: 16px; font-style: normal; font-weight: 400; line-height: 180%;">
          Conveying Islam based on evidences from the Quran and Sunnah, upon the understanding of our pious predecessors
        </div>
        <div class="py-2">
          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-3" href="#!">
                <img src="/assets/image/icon/social/youtube.png" alt="">
              </a>
            </li>
            <li>
              <a class="text-white px-3" href="#!">
                <img src="/assets/image/icon/social/facebook.png" alt="">
              </a>
            </li>
            <li>
              <a class="text-white ps-3" href="#!">
                <img src="/assets/image/icon/social/whatsapp.png" alt="">
              </a>
            </li>
            <li>
              <a class="text-white ps-3" href="#!">
                <img src="/assets/image/icon/social/twiter.png" alt="">
              </a>
            </li>
          </ul>
        </div>


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-sm-2 mb-4 mb-md-0 py-5">
        <!-- <h5 class="text-uppercase mb-4">Animals</h5> -->

        <ul class="list-unstyled">
          <li class="mb-2">
            <a [routerLink]="['/Fatwa']" class="text-white">Fatwa Bank</a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/agaza']" class="text-white">agaza </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/FoodParcle']" class="text-white">food parcle</a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/prayWithMe']" class="text-white">prayer with me</a>
          </li>

          <!-- <li class="mb-2">
              <a href="#!" class="text-white">Help with walks</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Volunteer activities</a>
            </li> -->
        </ul>
      </div>

      <!--Grid column-->
      <div class="col-lg-2 col-sm-2 mb-4 mb-md-0 py-5">
        <!-- <h5 class="text-uppercase mb-4">Animals</h5> -->

        <ul class="list-unstyled">
          <li class="mb-2">
            <a [routerLink]="['/media/video']" class="text-white">Video</a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/media/audio']" class="text-white">Audios </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/media/books']" class="text-white">Books</a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/media/articles']" class="text-white">Articles</a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/privatefiles']" class="text-white">Private files </a>
          </li>
          <!-- <li class="mb-2">
              <a href="#!" class="text-white">Help with walks</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Volunteer activities</a>
            </li> -->
        </ul>
      </div>

      <!--Grid column-->
      <div class="col-lg-2 col-sm-2 mb-4 mb-md-0 py-5">
        <!-- <h5 class="text-uppercase mb-4">Animals</h5> -->

        <ul class="list-unstyled">
          <!-- <li class="mb-2">
            <a href="#!" class="text-white">Prayer Times</a>
          </li> -->
          <li class="mb-2">
            <a [routerLink]="['/privatefiles/kids']" class="text-white">kids </a>
          </li>
          <li class="mb-2">
            <a [routerLink]="['/privatefiles/women']" class="text-white">Women</a>
          </li>

          <li class="mb-2">
            <a href="#!" class="text-white">News</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white">Events </a>
          </li>

          <li class="mb-2">
            <a href="#!" class="text-white">Live stream</a>
          </li>

        </ul>
      </div>

      <!--Grid column-->
      <div class="col-lg-2 col-sm-2 mb-4 mb-md-0 py-5">
        <!-- <h5 class="text-uppercase mb-4">Animals</h5> -->

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!" class="text-white">Donate</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white">Contact</a>
          </li>
          <li class="mb-2">
            <a href="#!" class="text-white">About us</a>
          </li>

        </ul>
      </div>


    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <!-- &copy; 2022 Company, Inc. All rights reserved. -->

    Terms of Service | Privacy Policy | &copy; 2024 City Mosque Preston
    <!-- <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->
</footer>

<!-- End of .container -->