/* video-page.component.css */
.container-fluid {
  margin-top: 20px;
  margin-bottom: 20px;
  // height: 2012px;
  .Gray-btn:hover
{
  background-color: var(--Nature-6, #0364f6);

}
  .card {
    border-radius: 10px;
    // width: ;
    background: var(--Nature-8, #d3d7dd);
  
    .card-title {
      color: var(--nature-nature-5, #0D1822);

      /* Header/15 */
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      /* 186.667% */
      text-transform: capitalize;
  }

  .card-text {
      color: var(--nature-nature-3, #536576);

      /* body/12 */
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 166.667% */
  }

  a {
      color: #FFF;

      /* Header/15 */
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      /* 186.667% */
      text-transform: capitalize;
  }
  }

}



