<app-main-banner [imageURL]="'/assets/image/slider/praywithme.png'" [imageName]="'pray with me'"></app-main-banner>

<div class="container-fluid p-5" >    

    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="col">
          <span class="" >
    
            <img src="./assets/image/images/side_view_mobile_device_isolated_on_background 1.png" alt="">
    
          </span>
        </div>
    
        <div class="col">
          <div style=" display: inline-flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          border-radius: 10px;
    
    /* drop/2 */
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    ">
            <div style="
           color: var(--white, #F1F8FF);
    
    /* Header/36 */
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
           ">
              Download our app
            </div>
            <div style="
           width: 512px;
           color: var(--nature-nature, #E3EDF7);
    text-align: center;
    
    /* body/14 */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
           
           ">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </div>
    
            <div style="
           display: flex;
    align-items: flex-start;
    gap: 20px;
           ">
              <div>
                <img src="./assets/image/images/huawei-appgallery.svg" alt="">
              </div>
              <div>
                <img src="./assets/image/images/appGallary.svg" alt="">
              </div>
    
              <div>
                <img src="./assets/image/images/google-play-2022.svg" alt="">
    
              </div>
            </div>
          </div>
    
        </div>
      </div>
</div>
