
.btn-seemore
{
display: flex;
padding: 2px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
border: #d49115;
background: linear-gradient(83deg, #d49115 0%, #d49115 100%);
}
.w-100{
  width: 100%;
}
.w-20{
  width: 100%;
}
.Img-edit{
  border-radius: 15px 170px 15px 15px;
}
.bg-sugar{
  background-color:#ffffff;
  box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 0px 0 rgba(0, 0, 0, 0.19);
padding-bottom: 10px;
padding-left: 10px;
}
.pding{
  padding-right: 10px;
}
